@model BookManager.Models.Book

@{
    ViewBag.Title = "Eidt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Category = ViewBag.cate as List<BookManager.Models.Category>;
}

<h2>Eidt</h2>
<h2>BAdd</h2>

<form action="/Lbz/Eidt" method="post" enctype="multipart/form-data" >
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />

        <input type="hidden" name="ID" value="@Model.ID" />

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="Name" value="@Model.Name">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="Description" value="@Model.Description">
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>
                分类 :<select class="form-control" name="Category">
                    @foreach (var iten in Category)
                    {
                        <option value="@iten.ID">   @iten.Name </option>
                    }

                </select>
            </p>
            <div class="col-md-10">

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" class="form-control" name="Number" value="@Model.Number">
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>
        封面
        <div class="col-md-10">
            <input type="file" name="Img" value="" /><br />
            @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="Author" value="@Model.Author">
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntryTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="EntryTime" value="@DateTime.Now.ToShortDateString()">
                @Html.ValidationMessageFor(model => model.EntryTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>



