@model IEnumerable<BookManager.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Manager.cshtml";
}
<h2>用户管理</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>卡号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>联系方式</th>
            <th>开卡时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>
                    @if (item.Sex == 0)
                    {
                        @:女
                    }
                    else if (item.Sex == 1)
                    {
                        @:男
                    }
                    else
                    {
                        @:保密
                    }
                </td>
                <td>@item.Phone</td>
                <td>@item.Age</td>
                <td>@item.EntryTime</td>
                <td>
                    <div class="btn-group">
                        <a href="/Manager/Edit?ID=@item.ID" class="btn btn-warning" role="button">编辑商品</a>
                        <a href="#Delete" id="Delete" onclick="Delete(@item.ID)" class="btn btn-danger" role="button">删除商品</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="bd-example">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.page == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">首页</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Manager/Index?page=1">首页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Manager/Index?page=@(ViewBag.page - 1)">上页</a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="/Manager/Index?page=@(ViewBag.page)">@(ViewBag.page)</a></li>
            @if (ViewBag.page == ViewBag.pageCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">尾页</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Manager/Index?page=@(ViewBag.page + 1)">下页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Manager/Index?page=@(ViewBag.pageCount)">尾页</a>
                </li>
            }
            <div class="col-3 btn-group">
                <input type="number" id="PageJ" class="form-control col-6" placeholder="请输入页数">
                <a href="#junpPage" id="junpPage" class="btn btn-info col-4" role="button">确定</a>
            </div>
        </ul>
    </nav>
</div>
@section scripts{
    <script>
        $("#junpPage").click(function () {
            layer.load(2, { shade: false });
            setTimeout(function () {
                window.location.href = "/Manager/Index?page=" + $("#PageJ").val();
            }, 350);
        });
        function Delete(ID) {
            layer.confirm('您确定要删除该账号吗？这是一个不可回撤的操作，请注意！', {
                btn: ['我意已决', '放下屠刀']
            }, function () {
                layer.load(2, { shade: false });
                $.get("/Manager/Delete?ID=" + ID, function (res) {
                    setTimeout(function () {
                        layer.closeAll('loading');
                    }, 1000);
                    if (res == "success") {
                        layer.alert("账号删除成功！");
                        setTimeout(function () {
                            window.location.href = "/Manager/Index";
                        }, 2500);
                    } else {
                        layer.alert(res);
                    };
                });
            });
        };
    </script>
}