@model IEnumerable<BookManager.Models.User>

@{
    ViewBag.Title = "indexU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>管理员</h2>

<p>
    <a href="/Dcj/User">添加学生信息</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("修改", "修改", new { id = item.ID }) |
            @Html.ActionLink("删除", "删除", new { id = item.ID })
        </td>
    </tr>
}

</table>
